#.env.example
# База данных
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Telegram API
API_ID = 
API_HASH = 
PHONE_NUMBER = 

# Redis (для Celery)
REDIS_HOST=
REDIS_PORT=

# Ollama
OLLAMA_HOST=
SAIGA_MODEL=

# Путь для сохранения аудио
AUDIO_STORAGE_PATH=storage/audio
